@model BankBranches.Models.BankBranch

@{
    ViewData["Title"] = "Bank Details";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            color: black;
            background-color: white;
            margin: 20px;
        }

        h2 {
            color: darkgreen;
            margin-bottom: 20px;
        }

        .details-container {
            background-color: white;
            padding: 15px;
            border: 1px solid darkgreen;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .details-list {
            margin-right: 20px;
        }

        .action-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: darkgreen;
            color: white;
            border-radius: 5px;
            text-decoration: none;
            position: absolute; /* Position relative to the nearest positioned ancestor */
            top: 20px; /* Position from the top of the nearest positioned ancestor */
            right: 20px; /* Position from the right of the nearest positioned ancestor */
            transition: background-color 0.3s;
        }

            .action-button:hover {
                background-color: #165b33;
            }

        img {
            height: 200px;
            width: auto;
        }

        ul {
            list-style: none;
            padding: 0;
        }
    </style>
</head>
<body>
    <div>
        <h2>Bank Details</h2>
        <a href="@Url.Action("AddEmployee", "Bank", new { id = Model.Id })" class="action-button">Add Employee</a>
        <hr />
        <div class="details-container">
            <dl class="details-list">
                <dt>Name:</dt>
                <dd>@Model.Name</dd>
                <dt>Branch Manager:</dt>
                <dd>@Model.BranchManager</dd>
                <dt>Number Of Employees:</dt>
                <dd>@Model.EmployeeCount</dd>
                <dt>Location:</dt>
                <dd><a href="@Model.Location" target="_blank">Location</a></dd>
            </dl>
            <img src="https://www.gckuwait.com/wp-content/uploads/2016/12/gulf-consult-KFH-Branches2.jpg" alt="Bank Branch Image">
        </div>
        <div>
            <h4>Employees</h4>
            <ul>
                @foreach (var employee in Model.Employees)
                {
                    <li>@employee.Name - @employee.Position</li>
                }
            </ul>
        </div>
    </div>
</body>
</html>
